.dropdown-board {
  text-align:left;
  width:100%;
}

.dropdown-board-item {
  width: 100%;
  background-color: #333;
  margin-bottom: 3px;
  text-decoration: none;
}

.dropdown-board-item span{
  color: #9d9d9d;
  text-decoration: none;
}

.dropdown-board-item span:hover{
  color: white;
  text-decoration: none;
}

.dropdown-board-item div:hover{
  background-color: #222;
}

.dropdown-board-item a:hover{
  text-decoration: none;
}

.board-name{#c4c4c4;
  width: 100%;
  padding: 7px;
  padding-left: 10px;
  font-size: 17px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.create-new-board {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.subpage-content {
  text-align: center;
  background-color: #d6d4d4;
  padding: 20px;
  border-radius: 10px;
}
