{% extends 'main/registration_base.html' %}

{% load bootstrap %}

{% block title %}Password reset{% endblock %}

{% block registration-content %}
  {% if validlink %}
    <p>Provide your new password twice:</p>
    <form action="." method="post">
      {{ form|bootstrap }}
      {% csrf_token %}
      <p><input type="submit" value="Change password" /></p>
    </form>
  {% else %}
    <p>The link is invalid, probably it has been already used. Please start the password reset procedure again.</p>
{% endblock %}
