{% extends 'main/base.html' %}
{% load static %}

{% block title %}Spending Tracker{% endblock %}

{% block content %}
<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Monitor and analyze <br/>
                         your everyday expenses!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form action="{% url 'register' %}" method="get">
          <div class="form-row">
            <div class="col-lg-4 col-md-4 col-4 col-centered sign-up">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
