{% extends 'analyser/base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}{{board.name}}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'board' board.id %}"><span class="glyphicon glyphicon-home"></span> Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'analytics' board.id %}"><span class="glyphicon glyphicon-stats"></span> Analytics</a></li>
        <li><a href="{% url 'board_settings' board.id %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#" data-toggle="modal" data-target="#spendingModal"><span class="glyphicon glyphicon-plus"></span> <b>Add spending</b></a></li>
        <li><a href="{% url 'export' board.id %}"><span class="glyphicon glyphicon-file"></span> Export</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{board.name}}</h1>



      <!-- Spending modal -->
      <div class="modal fade" id="spendingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Add spending</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action='.' method='post'>
              {% csrf_token %}
              <div class="modal-body">
                {{ spending_form|bootstrap }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <h2 class="sub-header">Spendings</h2>
      {% if spendings %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Category</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for spending in spendings %}
              <tr {% if spending.is_income %} class="success" {% endif %} >
                <td>{{spending.name}}</td>
                <td>{{spending.cost}}</td>
                <td>{{spending.category}}</td>
                <td>{{spending.date}}</td>
                <td><a href="{% url 'delete_spending' board.id spending.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>You haven't registered any spendings</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
